[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Monitor
Comment=Monitor
Exec=/home/dantonbertuol/protheus/monitor/monitor
Icon=totvs-monitor.png
StartupNotify=false
Terminal=false 
