[Desktop Entry]
Encoding=UTF-8
Name=SQL Developer
Comment=Oracle SQL Developer
Icon=sqldeveloper.png
Exec=sqldeveloper
Terminal=false
Type=Application
